{% extends 'cms/masterCms' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <h2>Impractical <span>Unreliable</span> Unproductive</h2>
    </div>
  </div>
{% endblock %}

