{% extends 'master' %}

{% block content %}
<div style="height: 300px; width: 300px; margin: 0 auto;"><canvas id="doughnut-chart" max-width="200" max-height="200"></canvas></div>
<br>
<li class="table-view-cell salez">Revenue <span class="badge">€{{item.price * item.sold}}</span></li>
<button onclick="addSale()" class="btn btn-block">Sale</button>
<button onclick="addGift()" class="btn btn-block">Gifted</button>
<button onclick="addDiscard()" class="btn btn-block">Discarded</button>

<script>
var ctx = document.getElementById("doughnut-chart").getContext('2d');
var myChart = new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Sold", "Gifted","Discarded"],
      datasets: [
        {
          label: "Sales",
          backgroundColor: ["green", "orange","blue","#e8c3b9","#c45850"],
          data: [{{item.sold}},{{item.gifted}},{{item.discarded}}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: "{{item.name}} sales breakdown"
      }
    }
});

function addSale() {
    var current = myChart.data.datasets[0].data[0];
    if({{item.stock}} <= 0){
        console.log("quiting");
        return;
    }
    myChart.data.datasets[0].data[0] = current + 1;
    myChart.update();

    $.post( "/_updateItem/{{item.id}}", { sold: 1, gifted: 0, discarded: 0} );

};
function addGift() {
    var current = myChart.data.datasets[0].data[1];
        if({{item.stock}} <= 0){
        console.log("quiting");
        return;
    }
    myChart.data.datasets[0].data[1] = current + 1;
    myChart.update();

    $.post( "/_updateItem/{{item.id}}", { sold: 0, gifted: 1, discarded: 0} );
};
function addDiscard() {
    var current = myChart.data.datasets[0].data[2];
        if({{item.stock}} <= 0){
        console.log("quiting");
        return;
    }
    myChart.data.datasets[0].data[2] = current + 1;
    myChart.update();

    $.post( "/_updateItem/{{item.id}}", { sold: 0, gifted: 0, discarded: 1} );
};
</script>
{% endblock %}
